<h4 class="dashicons-before dashicons-edit"><%- title %></h4>

<p>
	<label for="amm-menu-item-option-name"><%- labelLabel %></label>
	<input name="amm-menu-item-option-name" class="amm-menu-item-option" value="<%- model.label %>"/>
</p>
<p>
	<label for="amm-menu-item-option-icon"><%- iconLabel %></label>
	<input name="amm-menu-item-option-icon" class="amm-menu-item-option" value="<%- model.icon %>"/>
</p>
<% if (model.id.indexOf('custom-item') > -1) { %>
<p>
	<label for="amm-menu-item-option-href"><%- linkLabel %></label>
	<input name="amm-menu-item-option-href" class="amm-menu-item-option" value="<%- model.href %>"/>
</p>
<% } %>
<button class="button button-primary amm-menu-item-options-save" href="#save"><%- save %></button>
