{
  "presets": [
	[
	  "env",
	  {
		"targets": {
		  "uglify": true
		},
		"browsers": [
		  "last 2 versions"
		]
	  }
	]
  ],
  "plugins": ["transform-html-import-to-string"],
  "sourceMaps": true
}
