<a href="#" class="menu-top" title="<%= label %>">
	<div class="wp-menu-image dashicons-before dashicons-edit"></div>
	<div class="wp-menu-name"><%= label %></div>
</a>
<ul class="amm-edit-options">
	<li class="amm-edit-option">
		<a href="#" id="amm-edit-option-save" title="<%= options.save %>">
			<div class="wp-menu-image dashicons-before dashicons-yes"><br></div>
			<div class="wp-menu-name screen-reader-text"><%= options.save %></div>
		</a>
	</li>
	<li class="amm-edit-option">
		<a href="#" id="amm-edit-option-add" title="<%= options.add %>">
			<div class="wp-menu-image dashicons-before dashicons-plus"><br></div>
			<div class="wp-menu-name screen-reader-text"><%= options.add %></div>
		</a>
	</li>
	<li class="amm-edit-option">
		<a href="#" id="amm-edit-option-undo" title="<%= options.undo %>">
			<div class="wp-menu-image dashicons-before dashicons-undo"><br></div>
			<div class="wp-menu-name screen-reader-text"><%= options.undo %></div>
		</a>
	</li>
	<li class="amm-edit-option" title="<%= options.redo %>">
		<a href="#" id="amm-edit-option-redo">
			<div class="wp-menu-image dashicons-before dashicons-redo"><br></div>
			<div class="wp-menu-name screen-reader-text"><%= options.redo %></div>
		</a>
	</li>
	<li class="amm-edit-option">
		<a href="#" id="amm-edit-option-reset" title="<%= options.reset %>">
			<div class="wp-menu-image dashicons-before dashicons-dismiss"><br></div>
			<div class="wp-menu-name screen-reader-text"><%= options.reset %></div>
		</a>
	</li>
</ul>
