<button class="menu-top" id="amm-edit-menu">
	<div class="wp-menu-image dashicons-before dashicons-edit"></div>
	<div class="wp-menu-name"><%= label %></div>
</button>
<ul class="amm-edit-options">
	<li class="amm-edit-option">
		<button id="amm-edit-option-save">
			<div class="wp-menu-image dashicons-before dashicons-yes"><br></div>
			<div class="wp-menu-name screen-reader-text"><%= options.save %></div>
		</button>
	</li>
	<li class="amm-edit-option">
		<button id="amm-edit-option-add">
			<div class="wp-menu-image dashicons-before dashicons-admin-settings"><br></div>
			<div class="wp-menu-name screen-reader-text"><%= options.add %></div>
		</button>
		<ul class="amm-edit-option-choices hidden">
			<li class="amm-edit-option-choice">
				<button id="amm-edit-option-add-separator"><%= options.addSeparator %></button>
			</li>
			<li class="amm-edit-option-choice">
				<button id="amm-edit-option-add-custom"><%= options.addCustomItem %></button>
			</li>
			<li class="amm-edit-option-choice">
				<button id="amm-edit-option-add-import"><%= options.addImport %></button>
			</li>
			<li class="amm-edit-option-choice">
				<button id="amm-edit-option-add-export"><%= options.addExport %></button>
			</li>
			<li class="amm-edit-option-choice">
				<button id="amm-edit-option-reset"><%= options.reset %></button>
			</li>
		</ul>
	</li>
	<li class="amm-edit-option">
		<button id="amm-edit-option-undo">
			<div class="wp-menu-image dashicons-before dashicons-undo"><br></div>
			<div class="wp-menu-name screen-reader-text"><%= options.undo %></div>
		</button>
	</li>
	<li class="amm-edit-option">
		<button id="amm-edit-option-redo">
			<div class="wp-menu-image dashicons-before dashicons-redo"><br></div>
			<div class="wp-menu-name screen-reader-text"><%= options.redo %></div>
		</button>
	</li>
	<li class="amm-edit-option">
		<button id="amm-edit-option-cancel">
			<div class="wp-menu-image dashicons-before dashicons-dismiss"><br></div>
			<div class="wp-menu-name screen-reader-text"><%= options.cancel %></div>
		</button>
	</li>
</ul>
