<a href="<%- href %>" class="<%- classes %>" aria-haspopup="<%= children ? true: false %>">
	<div class="wp-menu-arrow">
		<div></div>
	</div>
	<% if ( icon.indexOf('dashicons') > -1 ) { %>
	<div class='wp-menu-image dashicons-before <%- icon %>'><br /></div>
	<% } else if ( icon.indexOf('image/svg') > -1 || icon.indexOf('http') > -1 ) { %>
	<div class="wp-menu-image svg" style="background-image:url('<%= icon %>') !important;"><br /></div>
	<% } else if ('div' === icon || 'none' === icon) { %>
	<div class="wp-menu-image dashicons-before"><br /></div>
	<% } else { %>
	<div class="wp-menu-image dashicons-before dashicons-admin-settings"><br /></div>
	<% } %>
	<div class="wp-menu-name"><%= label %></div>
</a>
<ul class="wp-submenu wp-submenu-wrap">
	<li class="wp-submenu-head"><%= label %></li>
	<% _.each(children, function(child, index) {
	if ( index===0 ) { child.classes += ' wp-first-item'; }
	var classes = _.filter(child.classes.split(' '), function(c){return c==='current' || c==='wp-first-item'}).join(' '); %>
	<li class="<%= classes %>" data-id="<%= child.id %>">
		<a href="<%- child.href %>" class="<%= classes %>"><%= child.label %></a>
	</li>
	<% }); %>
</ul>
