<h4 class="dashicons-before dashicons-edit">Edit Item</h4>

<p>
	<label for="amm-menu-item-option-name">Label:</label>
	<input name="amm-menu-item-option-name" class="amm-menu-item-option" value="<%= label %>" />
</p>
<p>
	<label for="amm-menu-item-option-icon">Icon:</label>
	<input name="amm-menu-item-option-icon" class="amm-menu-item-option" value="<%= icon %>" />
</p>
<p>
	<label for="amm-menu-item-option-href">Link:</label>
	<input name="amm-menu-item-option-href" class="amm-menu-item-option" value="<%= href %>" />
</p>
<button class="button button-primary amm-menu-item-options-save" href="#">Save</button>
